<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="false">
    <div class="example-scrolling-content">
      <div style="width:160px;"></div>
      <ul class="ul-container" *ngFor="let x of myObject;let y = index;">
        <li (click)="sidemenu(y+1)" style="padding:10px;">
          <span style="margin-left:20px;">{{x.name}}</span>
        </li>
      </ul>
    </div>
  </md-sidenav>

  <div class="example-scrolling-content" style="padding:10px;">
    <button md-raised-button class="example-fab" (click)="sidenav.toggle()">File</button>
    <div *ngIf="template1==true">
      <app-editor></app-editor>
    </div>
    <div *ngIf="template2==true">
      Content progress in "New"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template3==true">
      Content progress in "Open"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template4==true">
      <!--<app-sample></app-sample>-->
      Content progress in "Save As"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template5==true">
      Content progress "Print"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template6==true">
      Content progress "Share"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template7==true">
      Content progress "About"<br><br>
      <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>
    <div *ngIf="template8==true">
        <app-contact></app-contact>
    </div>

  </div>
</md-sidenav-container>
